# Untracked filed
# Kicad
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


# STM32CUBEIDE
# workspace temporary files
/Embedded_Software/.metadata

# Debug folders
/Embedded_Software/Scout_Robot_Firmware/Debug
/Embedded_Software/Scout_Robot_Remote_C8/Debug
